exportPattern("^[[:alpha:]]+")
import(ggplot2,lavaan,reshape,heplots)
importFrom("graphics", "abline", "curve", "hist", "par", "layout")
importFrom("stats","BIC","formula","density", "dnorm","simulate", 
           "na.omit", "var","cor","qt", "sd", "pnorm","cooks.distance",
          "hatvalues", "pf", "rbinom", "rcauchy", "rchisq", "rexp",
          "rgamma", "rnorm", "rpois", "rt", "runif","ptukey","lm",
          "median","mad")
importFrom("utils", "stack")
